@charset "UTF-8";
.const, .wrapper, .column, header, header .nav .nav__list, #main, #main .main, .catalog__cards, .delivery__cards, footer, footer .foo {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.constLeft, .desc .desc__name, #contacts .contacts .cont .contacts__desc .contacts__desc_wrap .contacts__desc_bg {
  width: 915px;
  height: 30%;
  margin-left: auto; }

.constP, .desc .desc__name p, #contacts .contacts .cont .contacts__desc .contacts__desc_wrap .contacts__desc_bg p.bg {
  font-family: "Playfair Display", serif;
  width: 100%;
  font-size: 16.6em;
  letter-spacing: 0.01em;
  color: #FCF9F7;
  position: absolute;
  left: -40px; }

body {
  font-family: "Montserrat", sans-serif;
  font-size: 18px; }

.blur {
  filter: blur(5px); }

h1, h2, h3, p {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

* {
  outline: none;
  -webkit-tap-highlight-color: transparent; }

ul, li {
  display: flex;
  margin: 0; }

@-webkit-keyframes autofill {
  to {
    color: inherit;
    background: transparent; } }
input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both; }

input {
  outline: none; }

textarea {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -moz-padding-end: 0px;
  -moz-padding-start: 0px;
  height: 2.5em; }

::-moz-focus-outer, ::-moz-focus-inner {
  border: 0;
  padding: 0; }

.wrapper {
  width: 90%;
  height: 100%;
  max-width: 1680px;
  margin: 0 auto; }

.pt {
  padding-top: 9.38em; }

.pt2 {
  padding-top: 5.55em; }

.column {
  flex-direction: column; }

.descriptions, #contacts .contacts .cont {
  width: 100%;
  margin-bottom: 2.22em; }
  .descriptions h2, #contacts .contacts .cont h2 {
    font-size: 2em;
    font-family: "Playfair Display", serif;
    color: #403637;
    font-weight: bold;
    line-height: 50px; }
  .descriptions p, #contacts .contacts .cont p {
    font-size: 18px;
    color: #403637;
    line-height: 130%;
    margin-bottom: .61em;
    font-weight: 500; }

.logo {
  width: 162px;
  height: 48px; }

header {
  height: 80px;
  background: #E8D4C9;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100; }
  header .nav {
    max-width: 1083px;
    height: 100%;
    margin-left: auto;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #987A6E;
    width: 100%; }
    header .nav #nav__toggle {
      display: none; }
    header .nav .nav__list {
      width: 1000px;
      margin-left: auto;
      padding: 0; }
      header .nav .nav__list .nav__item .nav__link {
        color: #403637; }
        header .nav .nav__list .nav__item .nav__link::after {
          display: block;
          content: "";
          border-bottom: 1px solid #987A6E;
          width: 21px;
          opacity: 0;
          transition: opacity 1s ease; }
        header .nav .nav__list .nav__item .nav__link:hover::after {
          opacity: 1; }
        header .nav .nav__list .nav__item .nav__link:focus::after {
          opacity: 1; }
      header .nav .nav__list .nav__item .active {
        color: aqua; }

.container {
  height: 100%; }

#main {
  position: relative; }
  #main .main {
    width: 100%;
    height: 100vh; }

.desc {
  width: 54%;
  height: 100%;
  display: inline-flex;
  flex-direction: column; }
  .desc .desc__name {
    position: relative; }
    .desc .desc__name p {
      bottom: -30%;
      letter-spacing: 0.02em;
      font-size: 320px;
      left: -2%; }
  .desc .desc__description {
    width: 100%;
    height: 70%;
    background: #FCF9F7; }
    .desc .desc__description .desc__wrap {
      max-width: 915px;
      width: 90%;
      margin-left: auto; }
    .desc .desc__description .desc__info {
      margin-left: auto; }
      .desc .desc__description .desc__info h1 {
        font-size: 8.88em;
        font-family: "Playfair Display", serif;
        font-weight: bold;
        color: #403637;
        margin-top: 60px;
        margin-bottom: 30px; }
      .desc .desc__description .desc__info .desc__p {
        margin-bottom: 4.88em; }
        .desc .desc__description .desc__info .desc__p p {
          font-size: 1.66em;
          color: #403637;
          line-height: 1.33em; }

.pic {
  width: 46%;
  height: 100%; }
  .pic .pic__wrap {
    max-width: 765px;
    width: 90%;
    height: 100%;
    margin-right: auto;
    position: relative; }
  .pic .pic__img {
    width: 864px;
    margin-right: auto;
    height: 775px;
    position: absolute;
    top: 8em;
    right: 0;
    overflow: hidden;
    z-index: 6; }
    .pic .pic__img .pic__img_pict {
      width: 100%; }

.btn, #contacts .contacts .cont .contacts__question .contacts__question_form .contacts__form #btnForm, .catalogMod .catalogMod__wrap .catalogMod__container .catalogMod__container_elems .catalogMod__container_elem .catalogMod__form #btnMod {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  border: 1px solid #DD7D5C;
  background: #DD7D5C;
  color: #FDFBFA;
  letter-spacing: 0.02em;
  padding: .94em 2.77em;
  margin-left: 5px;
  box-shadow: 5px 5px 0 1px #FCF9F7, 5px 5px 0 2px #DD7D5C, -5px -5px 0 1px #FCF9F7, -5px -5px 0 2px #DD7D5C;
  transition: box-shadow .5s ease, filter .5s ease; }
  .btn:hover, #contacts .contacts .cont .contacts__question .contacts__question_form .contacts__form #btnForm:hover, .catalogMod .catalogMod__wrap .catalogMod__container .catalogMod__container_elems .catalogMod__container_elem .catalogMod__form #btnMod:hover {
    filter: contrast(150%);
    box-shadow: 1px 1px 0 1px #FCF9F7, 1px 1px 0 2px #DD7D5C, -1px -1px 0 1px #FCF9F7, -1px -1px 0 2px #DD7D5C; }
  .btn:active, #contacts .contacts .cont .contacts__question .contacts__question_form .contacts__form #btnForm:active, .catalogMod .catalogMod__wrap .catalogMod__container .catalogMod__container_elems .catalogMod__container_elem .catalogMod__form #btnMod:active {
    filter: contrast(300%);
    box-shadow: 1px 1px 0 1px white, 1px 1px 0 2px #DD7D5C, -1px -1px 0 1px white, -1px -1px 0 2px #DD7D5C, 0 0 0 2px #DD7D5C inset, 0 0 0 4px white inset; }

.catalog__cards {
  flex-wrap: wrap;
  width: 100%; }
  .catalog__cards .catalog__card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 390px;
    height: 597px;
    margin-bottom: 2.22em; }
    .catalog__cards .catalog__card .catalog__card_item {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      width: 330px;
      height: 459px;
      padding: 1.66em;
      background: #FEFEFE;
      transition: all .5s ease;
      border: 1px solid rgba(203, 166, 150, 0); }
      .catalog__cards .catalog__card .catalog__card_item #catalogClass {
        border: 1px solid #cba696; }
      .catalog__cards .catalog__card .catalog__card_item .catalog__card_pic {
        width: 328px;
        height: 328px;
        position: relative;
        overflow: hidden; }
        .catalog__cards .catalog__card .catalog__card_item .catalog__card_pic img {
          position: absolute;
          top: 0;
          left: 0; }
      .catalog__cards .catalog__card .catalog__card_item .catalog__card_desc {
        width: 328px;
        height: 80px;
        color: #987A6E;
        line-height: 26px; }
        .catalog__cards .catalog__card .catalog__card_item .catalog__card_desc h3 {
          font-size: 1em;
          font-weight: 500; }
        .catalog__cards .catalog__card .catalog__card_item .catalog__card_desc p {
          font-size: .88em; }
    .catalog__cards .catalog__card .catalog__card_order {
      display: flex;
      justify-content: space-between;
      padding: 0 1.66em;
      height: 48px; }
      .catalog__cards .catalog__card .catalog__card_order .catalog__card_price {
        width: 133px;
        height: 100%;
        display: flex;
        align-items: center;
        font-family: "Playfair Display", serif;
        font-weight: bold;
        font-size: 24px;
        color: #987A6E;
        font-style: normal; }
      .catalog__cards .catalog__card .catalog__card_order .catalog__card_btn {
        width: 180px;
        height: 100%;
        border: 1px solid #D79081;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Playfair Display", serif;
        font-weight: bold;
        color: #403637;
        transition: background-color .5s ease, color .2s ease; }
        .catalog__cards .catalog__card .catalog__card_order .catalog__card_btn:hover {
          background-color: #DD7D5C;
          color: #FDFBFA; }

.catalog__vector {
  width: 71px;
  height: 1.38em;
  border-bottom: 1px solid #CBA696;
  padding-bottom: 2px;
  margin-top: 10px;
  font-family: "Playfair Display", serif;
  color: #403637;
  font-size: 1em;
  letter-spacing: 0.02em;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  cursor: pointer; }
  .catalog__vector .arrow {
    align-self: center; }

.delivery__cards {
  width: 100%; }
  .delivery__cards .delivery__card {
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 340px; }
    .delivery__cards .delivery__card h3 {
      font-family: "Playfair Display", serif;
      font-weight: bold;
      color: #403637;
      font-size: 1.11em;
      line-height: 27px;
      margin-top: 43px;
      display: inline-flex;
      border-bottom: 1px solid #CBA696;
      padding-bottom: 3px; }
    .delivery__cards .delivery__card p {
      font-size: .88em;
      line-height: 26px;
      color: #403637;
      padding-top: 5px; }
    .delivery__cards .delivery__card .data {
      margin-top: 5px;
      margin-bottom: 5px;
      padding-top: 0;
      display: flex;
      align-items: center;
      height: 1.11em;
      /* the bubble element, added inside the toggletip live region */ }
      .delivery__cards .delivery__card .data p {
        display: inline-flex; }
      .delivery__cards .delivery__card .data .toggletip-container {
        position: relative;
        display: inline-block; }
      .delivery__cards .delivery__card .data .toggletip-bubble {
        display: inline-block;
        position: absolute;
        right: 0%;
        top: 100%;
        width: 200px;
        padding: 1em;
        background: #FDFBFA;
        color: #CBA696;
        font-size: .7em;
        line-height: 18px;
        z-index: 4; }
      .delivery__cards .delivery__card .data button {
        width: .5em;
        padding-right: 7px;
        padding-left: 5px;
        height: 1.4em;
        font-size: .5em;
        border: 0;
        background: #E8D4C9;
        font-weight: 600;
        color: #CBA696;
        border: 1px solid #E8D4C9; }
      .delivery__cards .delivery__card .data button:focus {
        outline: none;
        background: #FDFBFA; }
      .delivery__cards .delivery__card .data .delivery__text_info {
        padding-left: 1em; }

#contacts {
  overflow: hidden; }
  #contacts .contacts {
    display: flex;
    width: 100%;
    height: 100%; }
    #contacts .contacts .cont {
      margin-bottom: 0;
      display: flex;
      align-items: stretch;
      width: 100%;
      height: 100%; }
      #contacts .contacts .cont .contacts__desc {
        width: 54%;
        height: 100%;
        display: inline-flex;
        flex-direction: column; }
        #contacts .contacts .cont .contacts__desc .contacts__desc_wrap {
          max-width: 915px;
          width: 90%;
          margin-left: auto;
          position: relative;
          height: 560px; }
          #contacts .contacts .cont .contacts__desc .contacts__desc_wrap .contacts__desc_bg {
            width: 100%;
            position: relative;
            max-height: 360px;
            height: 20em;
            margin: 0; }
            #contacts .contacts .cont .contacts__desc .contacts__desc_wrap .contacts__desc_bg p.bg {
              font-size: 20em;
              position: absolute;
              top: 13%;
              left: -30px;
              margin: 0; }
            #contacts .contacts .cont .contacts__desc .contacts__desc_wrap .contacts__desc_bg .contacts__desc_text {
              max-width: 615px;
              width: 34em;
              width: 80%;
              position: relative;
              z-index: 3;
              padding-top: 4.27em;
              margin: 0 auto; }
              #contacts .contacts .cont .contacts__desc .contacts__desc_wrap .contacts__desc_bg .contacts__desc_text .contacts__desc_p {
                display: flex;
                justify-content: space-between;
                align-items: center; }
                #contacts .contacts .cont .contacts__desc .contacts__desc_wrap .contacts__desc_bg .contacts__desc_text .contacts__desc_p p {
                  display: inline-flex;
                  padding-top: 54px; }
                #contacts .contacts .cont .contacts__desc .contacts__desc_wrap .contacts__desc_bg .contacts__desc_text .contacts__desc_p .contacts__desc_link {
                  width: 10.5em;
                  height: 1.38em;
                  padding-top: 54px;
                  font-size: 1em;
                  letter-spacing: 0.02em;
                  display: flex;
                  justify-content: space-between;
                  align-items: flex-end; }
                  #contacts .contacts .cont .contacts__desc .contacts__desc_wrap .contacts__desc_bg .contacts__desc_text .contacts__desc_p .contacts__desc_link a {
                    color: #403637;
                    padding-bottom: 2px;
                    border-bottom: 1px solid #CBA696; }
          #contacts .contacts .cont .contacts__desc .contacts__desc_wrap .contacts__desc_map {
            width: 100%;
            height: 200px;
            position: absolute;
            bottom: 0;
            left: 0; }
      #contacts .contacts .cont .contacts__question {
        width: 46%;
        max-height: 560px;
        height: 100%;
        background: #FCF9F7;
        position: relative;
        z-index: 2; }
        #contacts .contacts .cont .contacts__question .contacts__question_wrap {
          max-width: 765px;
          width: 90%;
          height: 560px;
          margin-right: auto; }
        #contacts .contacts .cont .contacts__question .contacts__question_form {
          max-width: 460px;
          width: 34em;
          padding-top: 4.27em;
          margin: 0 auto; }
          #contacts .contacts .cont .contacts__question .contacts__question_form .contacts__question_mainLabel {
            font-size: 2em;
            font-family: "Playfair Display", serif;
            color: #403637;
            font-weight: bold;
            line-height: 50px; }
          #contacts .contacts .cont .contacts__question .contacts__question_form .contacts__form {
            padding-left: .6em;
            margin-top: 2em;
            /* ╨Я╨╗╨░╨▓╨░╤О╤Й╨╕╨╣ ╤В╨╡╨║╤Б╤В */
            /* ╨Р╨╜╨╕╨╝╨╕╤А╨╛╨▓╨░╨╜╨╜╤Л╨╣ ╤З╨╡╨║╨▒╨╛╨║╤Б */ }
            #contacts .contacts .cont .contacts__question .contacts__question_form .contacts__form .input {
              display: block;
              width: 100%;
              font-size: 16px;
              border: none;
              border-bottom: 1px solid #987A6E;
              padding: 12px 14px;
              box-sizing: border-box;
              margin-bottom: 22px;
              outline: none; }
            #contacts .contacts .cont .contacts__question .contacts__question_form .contacts__form textarea {
              overflow: auto; }
            #contacts .contacts .cont .contacts__question .contacts__question_form .contacts__form .box-input {
              position: relative; }
            #contacts .contacts .cont .contacts__question .contacts__question_form .contacts__form .box-input input, #contacts .contacts .cont .contacts__question .contacts__question_form .contacts__form .box-input textarea {
              border: none;
              border-bottom: 1px solid #987A6E;
              padding: 10px 0;
              background: inherit;
              background: #FCF9F7;
              max-width: 386px;
              color: #403637; }
              #contacts .contacts .cont .contacts__question .contacts__question_form .contacts__form .box-input input:focus, #contacts .contacts .cont .contacts__question .contacts__question_form .contacts__form .box-input textarea:focus {
                border-bottom-color: #403637; }
            #contacts .contacts .cont .contacts__question .contacts__question_form .contacts__form .box-input label {
              position: absolute;
              top: 0;
              left: 0;
              padding-top: 10px;
              color: #987A6E;
              transition: .5s;
              pointer-events: none; }
            #contacts .contacts .cont .contacts__question .contacts__question_form .contacts__form .box-input input:focus ~ label,
            #contacts .contacts .cont .contacts__question .contacts__question_form .contacts__form .box-input textarea:focus ~ label,
            #contacts .contacts .cont .contacts__question .contacts__question_form .contacts__form .box-input input:valid ~ label,
            #contacts .contacts .cont .contacts__question .contacts__question_form .contacts__form .box-input textarea:valid ~ label {
              top: -25px;
              font-size: 12px;
              color: #CBA696; }
            #contacts .contacts .cont .contacts__question .contacts__question_form .contacts__form .chboxs {
              margin: 1.8em 0 2.7em .5em; }
            #contacts .contacts .cont .contacts__question .contacts__question_form .contacts__form .recover {
              padding-left: .6em;
              margin-top: 15px;
              font-size: 10px;
              color: #403637; }
              #contacts .contacts .cont .contacts__question .contacts__question_form .contacts__form .recover label[for='ckbox'],
              #contacts .contacts .cont .contacts__question .contacts__question_form .contacts__form .recover label[for='ckbox2'] {
                cursor: pointer;
                padding-left: 1.75em;
                width: 100%;
                display: block;
                position: relative; }
              #contacts .contacts .cont .contacts__question .contacts__question_form .contacts__form .recover label[for='ckbox']::before,
              #contacts .contacts .cont .contacts__question .contacts__question_form .contacts__form .recover label[for='ckbox2']::before {
                content: '';
                position: absolute;
                border: 1px solid #CBA696;
                width: 10px;
                height: 10px;
                top: -2px;
                left: 0;
                transition: .2s; }
              #contacts .contacts .cont .contacts__question .contacts__question_form .contacts__form .recover #ckbox:checked + label::before,
              #contacts .contacts .cont .contacts__question .contacts__question_form .contacts__form .recover #ckbox2:checked + label::before {
                border-top: 2px solid transparent;
                border-left: 2px solid transparent;
                border-right: 2px solid #987A6E;
                border-bottom: 2px solid #987A6E;
                transform: rotate(40deg);
                width: 6px;
                height: 11px;
                transform-origin: 100% 100%;
                top: -4px;
                left: -5px; }
              #contacts .contacts .cont .contacts__question .contacts__question_form .contacts__form .recover #ckbox:not(:checked),
              #contacts .contacts .cont .contacts__question .contacts__question_form .contacts__form .recover #ckbox2:not(:checked),
              #contacts .contacts .cont .contacts__question .contacts__question_form .contacts__form .recover #ckbox:checked,
              #contacts .contacts .cont .contacts__question .contacts__question_form .contacts__form .recover #ckbox2:checked {
                display: none; }
            #contacts .contacts .cont .contacts__question .contacts__question_form .contacts__form #btnForm {
              outline: none; }

/* modal */
/* ╤Б╨▓╨╛╨╣╤Б╤В╨▓╨░ ╨╝╨╛╨┤╨░╨╗╤М╨╜╨╛╨│╨╛ ╨╛╨║╨╜╨░ ╨┐╨╛ ╤Г╨╝╨╛╨╗╤З╨░╨╜╨╕╤О */
.catalogMod {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  background: rgba(64, 54, 55, 0.6);
  opacity: 0;
  /* ╤Н╨╗╨╡╨╝╨╡╨╜╤В ╨╜╨╡╨▓╨╕╨┤╨╕╨╝ ╨┤╨╗╤П ╤Б╨╛╨▒╤Л╤В╨╕╨╣ ╨╝╤Л╤И╨╕ */
  pointer-events: none;
  margin: 0;
  padding: 0;
  z-index: 9999999;
  /* -----  ╨Т╤Л╤А╨░╨▓╨╜╨╕╨▓╨░╨╜╨╕╨╡ ╨┐╨╛ ╤Б╨╡╤А╨╡╨┤╨╕╨╜╨╡  -----*/ }
  .catalogMod:target {
    opacity: 1;
    /* ╨▓╨╛╨╖╨▓╤А╨░╤Й╨░╨╡╨╝ ╤Н╨╗╨╡╨╝╨╡╨╜╤В╤Г ╤Б╨╛╨▒╤Л╤В╨╕╨╣╨╜╨╛╤Б╤В╤М ╨╝╤Л╤И╨╕ */
    pointer-events: auto; }
  .catalogMod .catalogMod__wrap {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 9999999999; }
    .catalogMod .catalogMod__wrap .catalogMod__container {
      max-width: 747px;
      width: 100%;
      height: 30.2em;
      max-height: 484px;
      width: 45.38em;
      background-color: #FFFFFF;
      padding: 30px 20px 40px;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      filter: none; }
      .catalogMod .catalogMod__wrap .catalogMod__container .close {
        position: relative; }
        .catalogMod .catalogMod__wrap .catalogMod__container .close #close {
          width: 22px;
          height: 22px;
          color: #987A6E;
          font-size: 55px;
          font-weight: 100;
          line-height: 0;
          position: absolute;
          top: 0%;
          right: 0;
          z-index: 99999999; }
          .catalogMod .catalogMod__wrap .catalogMod__container .close #close:hover {
            color: #fc0000; }
          .catalogMod .catalogMod__wrap .catalogMod__container .close #close p {
            position: absolute;
            top: 50%;
            left: 0;
            z-index: 99999999; }
      .catalogMod .catalogMod__wrap .catalogMod__container .catalogMod__content {
        margin: 0 20px; }
      .catalogMod .catalogMod__wrap .catalogMod__container .catalogMod__title {
        color: #987A6E;
        font-family: "Montserrat", sans-serif;
        margin-bottom: 25px;
        margin-top: 10px; }
        .catalogMod .catalogMod__wrap .catalogMod__container .catalogMod__title h2 {
          font-size: 1.11em;
          line-height: 24px;
          padding-bottom: 5px; }
        .catalogMod .catalogMod__wrap .catalogMod__container .catalogMod__title p {
          font-size: .77em; }
      .catalogMod .catalogMod__wrap .catalogMod__container .catalogMod__container_elems {
        display: flex; }
        .catalogMod .catalogMod__wrap .catalogMod__container .catalogMod__container_elems .catalogMod__container_elem {
          width: 50%;
          max-height: 404px; }
          .catalogMod .catalogMod__wrap .catalogMod__container .catalogMod__container_elems .catalogMod__container_elem .catalog__card_item {
            padding: 0;
            width: 277px;
            margin-right: auto;
            max-height: 404px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between; }
            .catalogMod .catalogMod__wrap .catalogMod__container .catalogMod__container_elems .catalogMod__container_elem .catalog__card_item .catalog__card_pic {
              width: 277px;
              height: 277px; }
              .catalogMod .catalogMod__wrap .catalogMod__container .catalogMod__container_elems .catalogMod__container_elem .catalog__card_item .catalog__card_pic img {
                width: 99%; }
            .catalogMod .catalogMod__wrap .catalogMod__container .catalogMod__container_elems .catalogMod__container_elem .catalog__card_item .catalog__card_desc {
              width: 100%;
              color: #987A6E; }
              .catalogMod .catalogMod__wrap .catalogMod__container .catalogMod__container_elems .catalogMod__container_elem .catalog__card_item .catalog__card_desc h3 {
                font-weight: 600;
                font-size: .88em;
                border-bottom: 1px solid #CBA696; }
              .catalogMod .catalogMod__wrap .catalogMod__container .catalogMod__container_elems .catalogMod__container_elem .catalog__card_item .catalog__card_desc p {
                font-size: .77em;
                padding-top: 10px;
                line-height: 20px; }
          .catalogMod .catalogMod__wrap .catalogMod__container .catalogMod__container_elems .catalogMod__container_elem .catalogMod__form {
            max-width: 255px;
            margin: 0 40px 0 auto;
            max-height: 404px;
            height: 100%;
            /* ╨Я╨╗╨░╨▓╨░╤О╤Й╨╕╨╣ ╤В╨╡╨║╤Б╤В */
            /* ╤З╨╡╨║╨▒╨╛╨║╤Б */ }
            .catalogMod .catalogMod__wrap .catalogMod__container .catalogMod__container_elems .catalogMod__container_elem .catalogMod__form .catalog__form {
              display: inline-flex;
              flex-direction: column;
              height: 100%;
              justify-content: space-between; }
            .catalogMod .catalogMod__wrap .catalogMod__container .catalogMod__container_elems .catalogMod__container_elem .catalogMod__form .inputMod {
              display: block;
              width: 100%;
              font-size: .88em;
              border: none;
              border-bottom: 1px solid #987A6E;
              padding: 10px 14px;
              box-sizing: border-box;
              margin-bottom: 12px;
              outline: none; }
            .catalogMod .catalogMod__wrap .catalogMod__container .catalogMod__container_elems .catalogMod__container_elem .catalogMod__form .box-input {
              position: relative; }
            .catalogMod .catalogMod__wrap .catalogMod__container .catalogMod__container_elems .catalogMod__container_elem .catalogMod__form .box-input input {
              border: none;
              border-bottom: 1px solid #987A6E;
              padding: 25px 0 8px;
              background: inherit;
              max-width: 386px;
              color: #403637; }
            .catalogMod .catalogMod__wrap .catalogMod__container .catalogMod__container_elems .catalogMod__container_elem .catalogMod__form .box-input label {
              position: absolute;
              top: 0;
              left: 0;
              padding-top: 30px;
              color: #987A6E;
              transition: .5s;
              pointer-events: none;
              font-size: .88em; }
            .catalogMod .catalogMod__wrap .catalogMod__container .catalogMod__container_elems .catalogMod__container_elem .catalogMod__form .box-input input:focus ~ label,
            .catalogMod .catalogMod__wrap .catalogMod__container .catalogMod__container_elems .catalogMod__container_elem .catalogMod__form .box-input textarea:focus ~ label,
            .catalogMod .catalogMod__wrap .catalogMod__container .catalogMod__container_elems .catalogMod__container_elem .catalogMod__form .box-input input:valid ~ label,
            .catalogMod .catalogMod__wrap .catalogMod__container .catalogMod__container_elems .catalogMod__container_elem .catalogMod__form .box-input textarea:valid ~ label {
              top: -20px;
              font-size: .66em;
              color: #CBA696; }
            .catalogMod .catalogMod__wrap .catalogMod__container .catalogMod__container_elems .catalogMod__container_elem .catalogMod__form .recover {
              padding-left: .6em;
              margin-top: 12px;
              font-size: .44em; }
              .catalogMod .catalogMod__wrap .catalogMod__container .catalogMod__container_elems .catalogMod__container_elem .catalogMod__form .recover label[for='ckboxMod'],
              .catalogMod .catalogMod__wrap .catalogMod__container .catalogMod__container_elems .catalogMod__container_elem .catalogMod__form .recover label[for='ckbox2Mod'] {
                cursor: pointer;
                padding-left: 2em;
                width: 100%;
                display: block;
                position: relative; }
              .catalogMod .catalogMod__wrap .catalogMod__container .catalogMod__container_elems .catalogMod__container_elem .catalogMod__form .recover label[for='ckboxMod']::before,
              .catalogMod .catalogMod__wrap .catalogMod__container .catalogMod__container_elems .catalogMod__container_elem .catalogMod__form .recover label[for='ckbox2Mod']::before {
                content: '\2713';
                position: absolute;
                border: 1px solid #CBA696;
                color: white;
                width: 10px;
                height: 10px;
                font-size: 10px;
                top: -4px;
                left: 0;
                transition: .2s; }
              .catalogMod .catalogMod__wrap .catalogMod__container .catalogMod__container_elems .catalogMod__container_elem .catalogMod__form .recover #ckboxMod:checked + label::before,
              .catalogMod .catalogMod__wrap .catalogMod__container .catalogMod__container_elems .catalogMod__container_elem .catalogMod__form .recover #ckbox2Mod:checked + label::before {
                background: #CBA696;
                color: white; }
              .catalogMod .catalogMod__wrap .catalogMod__container .catalogMod__container_elems .catalogMod__container_elem .catalogMod__form .recover #ckboxMod:not(:checked),
              .catalogMod .catalogMod__wrap .catalogMod__container .catalogMod__container_elems .catalogMod__container_elem .catalogMod__form .recover #ckbox2Mod:not(:checked),
              .catalogMod .catalogMod__wrap .catalogMod__container .catalogMod__container_elems .catalogMod__container_elem .catalogMod__form .recover #ckboxMod:checked,
              .catalogMod .catalogMod__wrap .catalogMod__container .catalogMod__container_elems .catalogMod__container_elem .catalogMod__form .recover #ckbox2Mod:checked {
                display: none; }
            .catalogMod .catalogMod__wrap .catalogMod__container .catalogMod__container_elems .catalogMod__container_elem .catalogMod__form #btnMod {
              margin-top: 2em;
              outline: none;
              align-self: flex-end; }

footer {
  background: #E8D4C9;
  width: 100%;
  height: 5.55em; }
  footer .foo {
    width: 100%;
    height: 100%;
    margin-left: 7em; }
    footer .foo .foo__text {
      display: block; }
      footer .foo .foo__text p {
        margin-top: 6px;
        color: #403637;
        font-size: 0.8em; }
      footer .foo .foo__text a {
        color: #403637;
        font-size: 0.8em; }
      footer .foo .foo__text .a {
        border-bottom: 1px solid #CBA696; }
    footer .foo .foo__left {
      text-align: right; }

@media screen and (min-width: 2000px) {
  p.bg {
    font-size: 18.8em !important; }

  .contacts__question, .contacts__desc {
    width: 50% !important;
    max-width: 5000px !important; }

  .contacts__question_wrap, .contacts__desc_wrap {
    max-width: 840px !important; } }
@media screen and (max-width: 1750px) {
  #catalog {
    box-sizing: border-box; }
    #catalog .catalog__card {
      width: 270px !important;
      height: 441px !important;
      margin-bottom: 30px !important;
      padding: 30px !important; }
      #catalog .catalog__card .catalog__card_item {
        width: 220px !important;
        height: 326px !important;
        padding: 0 !important;
        padding: 0 25px 25px 25px !important;
        justify-content: flex-start !important; }
        #catalog .catalog__card .catalog__card_item .catalog__card_pic {
          width: 220px !important;
          height: 220px !important; }
          #catalog .catalog__card .catalog__card_item .catalog__card_pic img {
            width: 220px !important; }
      #catalog .catalog__card .catalog__card_desc {
        width: 220px !important; }
        #catalog .catalog__card .catalog__card_desc h3 {
          font-size: 16px !important; }
        #catalog .catalog__card .catalog__card_desc p {
          font-size: 14px !important; }
      #catalog .catalog__card .catalog__card_order {
        padding: 0 0 0 25px !important; }
      #catalog .catalog__card .catalog__card_btn {
        font-size: 16px !important;
        width: 150px !important;
        height: 40px !important; }
      #catalog .catalog__card .catalog__card_price p {
        font-size: 18px; }

  .delivery__card {
    width: 270px !important;
    height: 335px !important; }
    .delivery__card h3 {
      font-size: 20px !important;
      margin-top: 35px !important; }
    .delivery__card p {
      font-size: 16px !important; } }
@media screen and (max-width: 1440px) {
  body {
    font-size: 14px !important; }

  .wrapper {
    max-width: 1200px !important; }

  header .wrapper, footer .wrapper {
    max-width: 1440px !important; }

  footer .wrapper {
    margin: 0 120px !important; }

  .pt {
    padding-top: 119px !important; }

  .nav__list {
    max-width: 800px !important;
    margin-right: 120px; }

  #wrapperHeader {
    width: 100%;
    max-width: 1440px; }

  .header__logo {
    margin-left: 120px;
    width: 134px !important; }

  .logo img {
    width: 134px !important; }

  .main {
    overflow: hidden; }

  .desc {
    width: 72% !important; }

  .pic {
    width: 28% !important; }

  .pic__wrap {
    width: 100% !important;
    margin: 0 !important;
    max-width: 883px !important; }
    .pic__wrap .pic__img {
      width: 50vw !important;
      height: 80vh !important;
      max-width: 865px;
      max-height: 775px;
      padding-right: 120px;
      margin: 0; }

  .desc__description {
    height: 56vh !important; }

  .desc__name {
    margin: 0 !important;
    height: 44vh !important; }
    .desc__name p {
      bottom: -15% !important;
      left: 0 !important;
      letter-spacing: 0.01em !important;
      font-size: 14.28em !important; }

  .desc__wrap {
    margin-left: 120px !important; }
    .desc__wrap .desc__info h1 {
      font-size: 7.85em !important;
      margin: 30px 0 15px 0 !important; }
    .desc__wrap .desc__info .desc__p {
      margin-bottom: 6em !important; }
      .desc__wrap .desc__info .desc__p p {
        font-size: 1.57em !important; }
    .desc__wrap .desc__info a.btn, .desc__wrap .desc__info #contacts .contacts .cont .contacts__question .contacts__question_form .contacts__form a#btnForm, #contacts .contacts .cont .contacts__question .contacts__question_form .contacts__form .desc__wrap .desc__info a#btnForm, .desc__wrap .desc__info .catalogMod .catalogMod__wrap .catalogMod__container .catalogMod__container_elems .catalogMod__container_elem .catalogMod__form a#btnMod, .catalogMod .catalogMod__wrap .catalogMod__container .catalogMod__container_elems .catalogMod__container_elem .catalogMod__form .desc__wrap .desc__info a#btnMod {
      font-size: 16px !important;
      padding: 1.1em 2.8em; }

  .descriptions p, #contacts .contacts .cont p {
    font-size: 16px !important; }

  #catalog .catalog__card {
    margin-bottom: 60px !important;
    padding: 0 !important; }

  #delivery .descriptions, #delivery #contacts .contacts .cont, #contacts .contacts #delivery .cont {
    margin-bottom: 94px; }

  #contacts .pt2 {
    padding-top: 97px !important; }
  #contacts .contacts__desc {
    width: 49% !important; }
  #contacts .contacts__question {
    width: 51% !important; }
  #contacts .contacts__desc_wrap {
    margin: 0 !important;
    width: 100% !important; }
  #contacts .contacts__desc_bg {
    height: 360px !important;
    max-width: 700px !important;
    margin-left: 100px !important; }
    #contacts .contacts__desc_bg p.bg {
      font-size: 220px !important;
      top: 45% !important;
      letter-spacing: 0.08em !important; }
  #contacts .contacts__desc_text {
    margin: 0 0 0 20px !important;
    max-width: 460px !important;
    padding-right: 30px;
    height: 300px !important; }
    #contacts .contacts__desc_text h2 {
      padding-bottom: 54px; }
  #contacts .contacts__desc_p p {
    padding-top: 15px !important; }
  #contacts .contacts__desc_p .contacts__desc_link {
    padding-top: 0 !important;
    font-size: 16px !important; } }
@media screen and (max-width: 1370px) {
  .wrapper {
    max-width: 1130px !important; } }
@media screen and (max-width: 1300px) {
  .wrapper {
    max-width: 1040px !important; }

  .delivery__text {
    padding-left: 1em !important; } }
@media screen and (max-width: 1250px) {
  .wrapper {
    max-width: 960px !important; }

  .contacts__desc_p {
    max-width: 420px !important; } }
@media screen and (max-width: 1199px) {
  .nav {
    width: 50% !important;
    justify-content: flex-end; }
    .nav .nav__list {
      position: absolute;
      top: 100%;
      right: 0%;
      padding: 2em !important;
      flex-direction: column;
      justify-content: flex-end !important;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      visibility: hidden; }
    .nav .nav__item {
      position: relative;
      padding: .5em;
      width: 100%; }
    .nav .nav__link {
      color: white !important;
      margin-left: auto;
      padding-right: 3em; }
      .nav .nav__link::after {
        border-bottom: 1px solid white !important; }
    .nav #nav__toggle:checked ~ .nav__btn > span {
      transform: rotate(45deg); }
    .nav #nav__toggle:checked ~ .nav__btn > span::before {
      top: 0;
      transform: rotate(0); }
    .nav #nav__toggle:checked ~ .nav__btn > span::after {
      top: 0;
      transform: rotate(90deg); }
    .nav #nav__toggle:checked ~ .nav__list {
      visibility: visible; }
    .nav .nav__btn {
      top: 5px;
      left: 10px;
      z-index: 10;
      display: flex;
      align-items: center;
      width: 30px;
      height: 25px;
      cursor: pointer; }
    .nav .nav__btn > span,
    .nav .nav__btn > span::before,
    .nav .nav__btn > span::after {
      position: absolute;
      display: block;
      width: 32px;
      height: 2px;
      background-color: #987A6E;
      transition-duration: 0.25s; }
    .nav .nav__btn > span {
      width: 24px; }
    .nav .nav__btn > span::before {
      content: "";
      top: -8px;
      right: -3px; }
    .nav .nav__btn > span::after {
      content: "";
      top: 8px;
      right: -3px; }

  .wrapper {
    max-width: 685px !important; }

  header .wrapper, footer .wrapper {
    max-width: 685px !important; }

  footer .wrapper {
    margin: 0 auto !important; }

  .header__logo {
    margin: 0 !important; }

  #main .desc {
    width: 767px !important;
    overflow: hidden; }
  #main .pic {
    width: 1px !important; }
    #main .pic .pic__img {
      width: 519px !important;
      height: 465px !important;
      padding-right: 0 !important;
      top: 80px !important; }
  #main .desc__description {
    height: 58vh !important; }
  #main .desc__name {
    margin: 0 !important;
    height: 42vh !important;
    width: 685px !important;
    overflow: hidden; }
    #main .desc__name p {
      bottom: -15% !important;
      left: -25px !important; }

  .desc__wrap {
    max-width: 650px !important;
    height: 100%;
    margin: 0 auto !important;
    padding-top: 0 !important; }

  #delivery .delivery__cards {
    flex-wrap: wrap; }
  #delivery .delivery__card {
    min-width: 284px !important;
    margin-bottom: 40px !important; }
    #delivery .delivery__card .delivery__text {
      padding: 0 !important; }
      #delivery .delivery__card .delivery__text h3 {
        margin-top: 30px !important; }

  #contacts .pt2 {
    padding-top: 22px !important; }
  #contacts .cont {
    flex-direction: column;
    position: relative; }
  #contacts .contacts__question, #contacts .contacts__desc {
    width: 100% !important; }
  #contacts .contacts__desc {
    height: 200px !important; }
  #contacts .contacts__question {
    height: 500px !important;
    margin-bottom: 200px; }
  #contacts .contacts__desc_wrap {
    width: 100% !important;
    height: 200px !important;
    max-width: 1200px !important;
    position: static !important; }
    #contacts .contacts__desc_wrap .contacts__desc_bg {
      margin: 0 auto !important;
      width: 685px !important;
      height: 200px !important; }
      #contacts .contacts__desc_wrap .contacts__desc_bg p {
        top: 0 !important;
        left: -70px !important; }
      #contacts .contacts__desc_wrap .contacts__desc_bg .contacts__desc_text {
        margin: 0 !important;
        padding: 0 !important;
        width: 685px !important;
        max-width: 685px !important;
        height: 230px !important; }
        #contacts .contacts__desc_wrap .contacts__desc_bg .contacts__desc_text h2 {
          padding: 30px 0 !important; }
        #contacts .contacts__desc_wrap .contacts__desc_bg .contacts__desc_text .contacts__desc_p {
          max-width: 500px !important; }
          #contacts .contacts__desc_wrap .contacts__desc_bg .contacts__desc_text .contacts__desc_p p {
            padding-top: 0 !important;
            padding-bottom: 8px !important; }
  #contacts .contacts__question_wrap {
    width: 100% !important;
    height: 500px !important;
    max-width: 1200px !important; } }
@media screen and (max-width: 1023px) {
  .desc__wrap {
    padding-top: 10em !important; } }
@media screen and (max-width: 580px) {
  .wrapper {
    max-width: 280px !important; } }

/*# sourceMappingURL=style.css.map */
